.log-list {
  background-color: rgba(72, 86, 179, 0.06); /* #4856b3 opacity 0.06 */
  border-radius: 8px;
}
[data-theme='dark'] .log-list {
  background-color: rgba(72, 86, 179, 0.12); /* #4856b3 opacity 0.12 */
}
.log-list .list-item {
  background: transparent;
}
