.markdown-viewer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;

  .markdown-viewer-toolbar {
    background-color: var(--color-bg-2);
    border-radius: var(--border-radius-medium);
    display: flex;
    align-items: flex-start;
    padding: 4px;
    position: fixed;
    top: 44px;
    right: 8px;
    z-index: 999;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    .markdown-viewer-toolbar-item {
      font-size: 14px;
      color: var(--color-neutral-8);
      border-radius: var(--border-radius-small);
      background-color: transparent;
      cursor: pointer;
      display: flex;
      align-items: center;

      .markdown-viewer-toolbar-item-btn {
        height: 36px;
        width: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        &:hover {
          background-color: var(--color-neutral-2);
          color: var(--primary-color);
        }
      }
    }
  }

  .markdown-viewer-content {
    padding: 16px;
  }
}
