@import './variables.css';
@import './reset.css';
@import './iconfont/iconfont.css';

body {
  color: var(--text-primary);
}

.cards-content {
  height: 100%;
}

.cards-content .ant-spin-nested-loading {
  height: 100%;
}

.cards-content .ant-spin-container {
  height: 100%;
}
