@import 'normalize.css';

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* videojs 样式重置 */
.vjs-paused .vjs-big-play-button,
.vjs-paused.vjs-has-started .vjs-big-play-button {
  display: block;
}

/* antd 样式重置 */

.ant-tabs-nav{
  margin-bottom: 6px !important;
}