/* css 变量  */
body {
  --header-height: 36px;
  --sider-width: 48px;
  --store-sider-width: 230px;
  --viewer-content-height: calc(100vh - 185px);

  /* theme  */
  --primary-color: #3c62cd;
  --border-color: #e6e8eb;
  --icon-hover-bg-color: #ededed;
  --icon-hover-danger-color: #f53f3f;
  --card-selected-bg: #f0f6ff;
}

body[data-theme='dark'] {
  --primary-color: #3c62cd;
  --border-color: #e6e8eb;
  --icon-hover-bg-color: #ededed;
  --icon-hover-danger-color: #f53f3f;
  --card-selected-bg: #f0f6ff;
  color-scheme: dark;
}
