.context-menu {
  font-weight: 500;
  position: relative;
  box-sizing: border-box;
  border: 1px solid var(--color-fill-3);
  border-radius: var(--border-radius-medium);
  background-color: var(--color-bg-popup);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  .anticon {
    margin-right: 8px !important;
  }
}
