.viewer {
  padding-left: 6px;
  padding-right: 6px;
}

.viewer-path {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 6px;

  .viewer-path-input {
    flex: 1;
    margin-left: 6px;
  }
}

.viewer-actions {
  display: flex;
  justify-content: space-between;
}

.viewer-content {
  height: calc(100vh - 196px);
  overflow: auto;
}

.viewer-footer {
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
  border-top: 1px solid var(--border-color);
}
