.task-modal {
  padding: 16px !important;
  
  .arco-modal-header {
    margin-bottom: 4px !important;
  }
}

.task-table {
  .task-table-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
  }
}
