.file-table-wrapper {
  outline: none;

  .ant-table-body {
    overflow-y: auto !important;
  }
}

.file-table-wrapper .ant-table-row {
  cursor: default;
  user-select: none;
}

.file-table-wrapper .ant-table-row.file-table-row-selected {
  background-color: var(--primary-1);
}

.file-table-wrapper .ant-table-row.file-table-row-focused {
  outline: 1px solid var(--primary-color);
  outline-offset: -1px;
}

.file-table-wrapper .ant-table-row.file-table-row-drag-over {
  background-color: var(--primary-1);
  outline: 2px dashed var(--primary-color);
  outline-offset: -2px;
  position: relative;
  z-index: 10;
}
