@import '@/renderer/styles/index.css';

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  max-width: unset;
  background: var(--content-bg-dark, var(--content-bg-light));

  .main {
    height: calc(100vh - var(--header-height));
    display: flex;
    overflow: hidden;

    .content {
      width: calc(100vw - var(--sider-width));
      display: flex;
      flex: 1;
      background: var(--content-bg-dark, var(--content-bg-light));
      overflow: hidden;
    }
  }
}
