.store-selection {
  display: flex;
}

.store-brand {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 6px 20px;
  border-radius: 6px;
  
  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
}
