.store-sider-tip {
  height: 28px;
  line-height: 28px;
  box-sizing: border-box;
  padding-left: 6px;
  font-size: 15px;
  font-weight: 500;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 6px;
}

.store-sider-search{
    padding-left: 6px;
    padding-right: 6px;
    margin-bottom: 6px;
}