.viewer-wrap {
  .viewer-header {
    padding: 0px 6px 6px;
    border-bottom: 1px solid var(--border-color);
  }

  .viewer-path {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    gap: 4px;

    .ant-input-affix-wrapper {
      height: 32px;
    }

    .ant-input {
      height: 32px;
    }
  }

  .viewer-actions {
    display: flex;
    justify-content: space-between;
  }

  .viewer-content {
    overflow: auto;
    padding: 6px 6px;
  }

  .width-header {
    height: calc(100vh - 192px);
  }

  .widthout-header {
    height: calc(100vh - 114px);
  }

  .viewer-footer {
    display: flex;
    justify-content: space-between;
    height: 40px;
    padding: 0px 12px;
    align-items: center;
    border-top: 1px solid var(--border-color);
  }
}
